<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @series.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@series.picture_url, width: 600) if @series.picture.present? %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
